django-constance[database]
django-cors-headers
django-environ
django-extensions
django-probes
django-debug-toolbar
djangorestframework
django-bootstrap-v5
psycopg2-binary
python-dateutil
pool-data-fetcher